<div class="ingredient" *ngIf="ingred">
  <span class="ff-hw ingred-name" (click)="goToIngredientDetail()">{{
    ingred.name | titlecase
  }}</span>
  <a [routerLink]="['/ingredients', ingred.id]" [queryParams]="{ key: 'value' }"
    >Go</a
  >
  <span class="ff-hw ingred-price">{{
    ingred.price | currency : "INR" : "symbol"
  }}</span>
  <app-control-button
    [behaviour]="behaviour.ADD"
    (controlEvent)="handleControlEvent($event)"
  ></app-control-button>
  <app-control-button
    [behaviour]="behaviour.SUB"
    (controlEvent)="handleControlEvent($event)"
  ></app-control-button>
</div>
