.burger {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: auto;
}

.your-burger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: auto;
}

.burger-header,
.burger-footer {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 2fr;
  gap: 2rem;
}

.burger-footer-heading {
  grid-column: 1 / 4;
}

.burger-actions {
  text-align: right;
  margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
  .burger {
    padding: 2rem 3rem;
    flex-direction: row;
  }

  .ingredients {
    flex: 0 1 50%;
  }

  .your-burger {
    flex: 0 1 50%;
  }
}
