<div class="burger">
  <app-search></app-search>
  <div class="ingredients">
    <h3 class="ff-hw fs-big">Ingredients list</h3>
    <ng-container *ngIf="ingredientMap.size; else elseBlock">
      <app-ingredient
        *ngFor="let ingredient of ingredientMap | keyvalue"
        [ingred]="ingredient.value"
        (ingredControlEvent)="handleIngredControl($event)"
      ></app-ingredient>
    </ng-container>
    <ng-template #elseBlock>
      <div>No ingredients available</div>
    </ng-template>
  </div>
  <div class="your-burger">
    <h3 class="ff-hw fs-big">Your burger</h3>
    <ng-container *ngIf="burger.size; else noBurger">
      <div class="burger-header">
        <span>Item</span>
        <span class="text-right">Qty</span>
        <span class="text-right">Price</span>
        <span class="text-right">Total</span>
      </div>
      <hr />
      <app-burger-item
        *ngFor="let burgerItem of burger | keyvalue"
        [burgerItem]="burgerItem.value"
      ></app-burger-item>
      <hr />
      <div class="burger-footer">
        <span class="burger-footer-heading">Total</span>
        <span class="text-right">{{ totalPrice | currency : "INR" }}</span>
      </div>
      <div class="burger-actions">
        <button mat-flat-button color="primary" (click)="placeOrder()">
          Place order
        </button>
      </div>
    </ng-container>
    <ng-template #noBurger>
      <div>Start creating your custom burger</div>
    </ng-template>
  </div>
</div>
